body {
  font-family: 'MyFont', sans-serif;
}

@font-face {
  font-family: 'MyFont';
  src:  url('./Roboto-Medium.ttf'),
        url('./Roboto-MediumItalic.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
}

.goodby {
  color: blueviolet;
  background: url('./icon-webpack.png');
}
